* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: #0f0f0f;
    color: white;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    padding: 30px;
    background: #222;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    font-size: 38px;
    margin-bottom: 10px;
    color: #ffba08;
}

h2 {
    margin-bottom: 10px;
    color: #ffba08;
    border-bottom: 2px solid #444;
    padding-bottom: 5px;
    margin-top: 20px;
}

section {
    margin-bottom: 25px;
    background: #181818;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #333;
}

.skills ul {
    list-style: square;
    padding-left: 20px;
}

.project {
    margin-top: 10px;
    padding: 10px;
    background: #222;
    border-radius: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
}

a {
    color: #ffba08;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
